h1{
    font-size: 8vh;
    text-align: center;
    background-color: gainsboro;
}
.home ul{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    width: 100%;
    padding: 12px 20px;
}
.home ul a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.6s;
}
.home ul a:hover::after{
    width: 50px;
}